.header-main {
  height: 3rem;
  border-bottom: 1px solid #f5f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  background-color: #fbfbfb;
}

.header-main h1 {
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

@media (max-width: 320px) {
  .header-main h1 {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .header-main h1 {
    font-size: 0.8rem;
  }
}